.auth-footer {
  font-size: $font-size-small;

  .goto {
    float: right;
  }

  .dot-separator {
    font-weight: bold;
  }

  .js-help {
    display: none;
  }

  .js-help-links {
    display: flex !important;
  }
}
